.field {
	clear: both;
	text-align: left;
	margin-bottom: 10px;
}

.main {
	float: left
	position: relative;
	margin-bottom: 50px;
}

table, th, td {
  border: 1px solid black;
}

#upper {
	top: 0%;
	position: relative;
}
